!!!
%html
  %head
    %title HAML Test.
    %link{:rel => 'stylesheet', :href => '/styles/reset.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/styles/960.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/styles/text.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/styles/style.css', :type => 'text/css'}
  %body
    %h1 Testing.